%h1 
  Bookmarks
%hr
- i = 0
- while i < @bookmarks.count do
  - @bookmark = @bookmarks[i]
  %p= link_to @bookmark["title"], @bookmark["url"], {target: "_blank"}, id: @bookmark["bookmark_id"]
  - i += 1